<form>
    <h1>Updating category...</h1>

    <mat-form-field class="form">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="category.name" type="text" name="name" placeholder="Adventure">

    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="category.description" type="text" name="description" placeholder="Adventurous Books"></textarea>

    </mat-form-field>

    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="accent">UPDATE</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCEL</button>

    </div>
</form>