form {
    text-align: center;
    width: 80%;
    margin: 2rem auto 0 auto;
}

h1 {
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.form {
    width: 100%;
    
}

.buttons {
    
    text-align: start;
}

button {
    margin-right: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}